@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.googleFontTitle {
    font-family: 'Montserrat';
}

.googleFontText {
    font-family: 'Open Sans';
}

.colorJaune {
    color: rgb(250, 182, 55);
}

.colorRouge {
    color: rgb(255, 72, 72);
}

.colorOrange {
    color: #cc6119;
}

.colorGris{
    color: #ECEFF3;
}

.colorNoir {
    color: #232628;
}

.colorBleu {
    color: #6C98E1;
}

.colorFondNoir {
    background-color: rgb(35, 38, 40);
}

.colorFondGris {
    background-color: #ECEFF3;
}

.text-offset {
    margin-right: 33%; 
}

ul {
    list-style-type:none;
}

li.p-2::before {
    content: "✔️";
    margin-left: -10px;
    padding-right: 20px;
}

.background-image {
    background-image: url(/images/vehicule-voyage.jpg); 
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.text-container1 {
    background-color: #fab637cc;
    padding: 60px;
    margin-right: 20px;
  }

.text-container2 {
    background-color: rgba(255, 72, 72, 0.8);
    padding: 60px;
    margin-left: 20px;
  }

.policeLittle {
    font-size: 15px;
  }

.borderColor {
    border-color: rgba(204, 97, 25, 1);
    border-width: 5px;
  }

.bgGris {
    background-color: #3d4042;
  }

.bg-gris-autre {
    background-color: rgb(51, 52, 53);
  }

.bgOrange {
    background-color: #cc6119;
  }

.nav-link:hover,
.nav-link.active {
    color: rgb(236, 239, 243);
    background-color: #cc6119;
    transition: background-color 0.3s ease;
  }

  .navbar-transparent {
    background-color: rgba(236, 239, 243, 0.5);
  }

@media (max-width: 991.98px) {
    .navbar-nav {
        flex-direction: column;
    }
    .navbar .nav-item {
        margin-left: 0;
        margin-bottom: 10px; 
    }
  }

.logo-text {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 1rem; 
  }
.logo-text img {
    width: 70px; 
    height: 70px; 
    margin-right: 20px;
  }

.background-section {
    position: relative;
    background-image: url('/images/vehicule3.jpg'); 
    background-size: cover;
    background-position: top;
    min-height: 620px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

.content-box {
    position: absolute;
    left: 15%;
    background: #fab637cc;
    padding: 50px;
    max-width: 600px; 
  }

.content-box h3 .main-title {
    display: block;
    color:rgb(35, 38, 40);
  }

.content-box h3 .sub-title {
    display: block; 
    color: #ECEFF3;
  }

.triangle-container {
    position: absolute; 
    width: 200px; 
    height: 200px; 
  }

.triangle {
    position: absolute;
    bottom: -95px; 
    left: -572px;
    width: 0;
    height: 0;
    border-left: 70px solid transparent; 
    border-right: 20px solid transparent;
    border-top: 30px solid #fab637cc;
    transform: rotate(10deg); 
    transform-origin: bottom left;
  }

.footer {
    padding: 60px 20px;
  }
.footer hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
.footer .icon {
    width: 40px; /* Ajustez la taille des icônes */
    height: 40px;
  }
.footer .form-control {
    width: 100%;
  }

@media (max-width: 1000px) {
  .custom-menu-burger {
        position: absolute;
        top: -135px;
        right: 10px;
        z-index: 1050;
        border: none;    
    }
}

@media (max-width: 767.98px) {
  .banniere {
      margin-right: 0;
  }
}

/* Styles pour mobile */
@media (max-width: 767.98px) {
  .full-width-text {
      text-align: start; /* Centre le texte */
      width: 100%; /* Prend toute la largeur de la page */
  }
}